body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}


.mealsList {
  font-weight:bold;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom:10px;


}
.mealContainer {
  text-align: center;
  margin:20px;

}
.mealImage {
  max-width: 20%; 
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 10px;
}
